In [6]:
# example taken from here: https://stackoverflow.com/questions/36105701/how-to-run-auto-arima-using-rpy2

import pandas as pd 
import rpy2.robjects as ro
from rpy2.robjects import pandas2ri
pandas2ri.activate()

df = pd.DataFrame()

#create a python time series
count = range(1, 51)
df['count'] = count
df['date'] = pd.date_range('2016-01-01', '2016-02-19')
df.set_index('date', inplace = True)
df.sort_index(inplace = True)
df.head()

            count
date
2016-01-01      1
2016-01-02      2
2016-01-03      3
2016-01-04      4
2016-01-05      5

In [8]:
ro.r('library(forecast)')

rdf = pandas2ri.py2ri(df)
ro.globalenv['r_timeseries'] = rdf
pred = ro.r('as.data.frame(forecast(auto.arima(r_timeseries),h=5))')
pred

    Point Forecast  Lo 80  Hi 80  Lo 95  Hi 95
51            51.0   51.0   51.0   51.0   51.0
52            52.0   52.0   52.0   52.0   52.0
53            53.0   53.0   53.0   53.0   53.0
54            54.0   54.0   54.0   54.0   54.0
55            55.0   55.0   55.0   55.0   55.0